
<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Подключены иконки, стили и заполенены мета теги -->
    <title>Пост {{ post.text|slice:30 }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>
        </div>
      </nav>      
    </header>
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            {% if post.group %}
            <li class="list-group-item">
              Группа: {{ post.group_id  }}
              {# формируем ссылку на группу, первая часть указывает на шаблон в urls.py вторая - ключи из views.py #}
              <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
              
              {# Тут сам пост #}
              {{ posts_group }}
            </li>
            {% endif %}
            <li class="list-group-item">
              Автор: {{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span > {{ post.author.posts_rname.count }} </span>
            </li>
            <li class="list-group-item">
              {# Посмотреть что тут выходит можно через код страницы #}
              <a href="{% url 'posts:profile' post.author %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ post.text }}
          </p>
        </article>
      </div> 
    </main>
    <footer class="border-top text-center py-3">
      <p>© {{ key_year }} Copyright <span style="color:red">Ya</span>tube</p>
    </footer>
  </body>
</html> 